.cards {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    
}

.cards img {
    width:  210px;
    height: 120px;
}

.item {
    position: relative;
    margin: 10px;
    width: 210px;
    border: 1px solid rgb(199, 198, 198);
}

.information {
    margin: 10px;
    height: 150px;
}

.name {
    font-size: 19px;
    font-weight: 700;
    color: #295f5f;
    padding-bottom: 5px;
}

.description {
    font-size: 15px;
    color: rgb(61, 60, 73);
    padding-bottom: 8px;
}

.price {
    font-size: 16px;
    color: #000;
}

.btn {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    padding: 6px 29px;
    border: none;
    background: #17a0a0;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    width: 90%;
}

.btn:hover {
    background: #159292;
}